.occurrence {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}

.occurrence.hit {
  background-color: #D0021B;
}

.occurrence.miss {
  background-color: #F5F5F5;
}

.occurrence.opportunity {
  border: none;
  background-color: #fff;
  filter: blur(0.35rem);
}

.occurrence.opportunity-taken {
  border: none;
  background-color: #fff;
}