.action {
  font-weight: 800;
  font-size: 3rem;
}

.frequency {
  margin-top: 0.2rem;
  font-weight: 400;
  font-size: 3rem;
}

.reason {
  margin-top: 0.5rem;
  color: #5d5d5d;
  font-weight: 200;
  font-size: 1.85rem;
}

.occurrences {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.occurrences > *:not(:last-child) {
  margin-right: 1.5rem;
  /* display: inline-block; */
}

.occurrences > *:last-child {
  margin-left: 5rem;
}