.rhythm-edit {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.rhythm-edit * {
  font-size: 1.5rem;
}

.rhythm-edit > * {
  margin-bottom: 2rem;
}

.rhythm-edit input, .rhythm-edit select {
  font-size: 1.75rem;
  font-weight: bold;
  border: 1px solid #979797;
  border-radius: 0.25rem;
}
.rhythm-edit input {
  padding: 0.5rem 0.75rem ;
  width: 25rem;
}

.rhythm-edit input::placeholder {
  color: silver;
}

.rhythm-edit select {
  padding: 0.5rem;
  width: 12rem;
}

.rhythm-edit button {
  margin-top: 0.5rem;
  padding: 0.75rem;
}

.action, .frequency, .reason {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.action {

}

.frequency {

}

.every {
  margin-left: 1rem;
  margin-right: 1rem;
}

.i-want-to, .because {
  margin-right: 1rem;
}

.reason {

}

.left {
  width: 4rem;
}


